@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
  }

  img{
      width: 100px;
      height: 100px;
  }

  .frmLogin{
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-align: center;
    align-items: center;
}