.referencias{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: column;
    /*border: 3px green solid;*/
}
.destinos{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*border: 5px red solid;*/
    color: white;
    width: 100%;
}
.imagenes{
    width: 100%;
    min-width: 300px;
    margin: 30px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*border: 5px blue solid;*/
    background-image: rgb(255,255,255);
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 8%, rgba(0,212,255,0) 100%);
}
#cusco{
    background-image: linear-gradient(180deg, rgba(0,0,0,0.6250700963979341) 0%, rgba(0,0,0,0.35896365382090334) 3%, rgba(0,212,255,0) 100%),url("./../../assets/imagenes/images/cusco.jpg");
}
#arequipa{
    background-image: linear-gradient(180deg, rgba(0,0,0,0.6250700963979341) 0%, rgba(0,0,0,0.35896365382090334) 3%, rgba(0,212,255,0) 100%),url("./../../assets/imagenes/images/arequipa.jpg");
}
#lima{
    background-image: linear-gradient(180deg, rgba(0,0,0,0.6250700963979341) 0%, rgba(0,0,0,0.35896365382090334) 3%, rgba(0,212,255,0) 100%),url("./../../assets/imagenes/images/lima.jpg");
}
#puno{
    background-image: linear-gradient(180deg, rgba(0,0,0,0.6250700963979341) 0%, rgba(0,0,0,0.35896365382090334) 3%, rgba(0,212,255,0) 100%),url("./../../assets/imagenes/images/puno.jpg");
}

.imagenes:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.514);
    transform: scale(1.03);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.imagenes{
    color: white;
}
a{
    text-decoration: none;
    margin: auto;
}