.container-header{
    color: white;
    background-color: rgb(204, 41, 38);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imgLogo  {
    width: 100px;
    height: 50px;
    margin-left: 25px;
}

.imgUsuario  {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.container-text {
    font-size: 30px;
}
.container-usuario{
    float:right;
    margin-right: 25px;
    padding-top: 10px;
}

.Contenedor-navBar{
    height: 30px;
    color: white;
    background: linear-gradient(to bottom,rgb(204, 41, 38), black);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.itemMenu {
    text-decoration: none;
    color: white;
    margin: 20px;
  }
/* Responsi */

 @media  only screen and (max-width:768px) {
    .container-header{
        color: white;
        background-color: rgb(204, 41, 38);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .imgLogo  {
        width: 50px;
        height: 25px;
        margin-left: 5px;
    }
    
    .imgUsuario  {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }

    .container-text {
        font-size: 15px;
    }
    .itemMenu {
        text-decoration: none;
        color: white;
        margin: 5px;
        font-size: 13px;
      }
 }