button{
    outline: none;
}
input{
    outline: none;
}
.container-atractivos {
    justify-content: center;
    text-align: center;
    background-color: rgb(246, 246, 246);
    padding-top: 0;
}

.container-fondo{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tarjetas{
    width: 340px;
    height: 70px;
    margin: 2% 2%;
    overflow: hidden;
    border-radius: 10px;
}
.tarjetas img {
    width: 110%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tarjetas h2 {
    position: absolute;
    text-align: center;
    margin: 0;
    width: 340px;
    padding: 20px 0px;
    justify-content: center;
    color: rgb(242, 248, 255);
    background-color: #1d2638f3;
    border-radius: 10px;
    z-index: 1;
}

.container-atractivos button{
    margin: 40px 0;
    width: 350px;
    height: 90px;
    border: 7px rgb(189, 37, 34) solid;
    border-radius: 10px;
    color: rgb(194, 38, 35);
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
}
.container-atractivos button:hover {
    color: white;
    background-color: rgb(204, 41, 38);
    transform:scale(1.05);
    transition: all 0.3s;
}
.container-atractivos button:active{
    transform:scale(0.8);
    transition: all 0.2s;
}

.tarjetas:hover{
    box-shadow: 0px 5px 10px 0px rgb(88, 88, 88);
    transform: scale(1.05);
    transition: 1s all ease-in;
    height: 510px;
}
.tarjetas:hover h2{
    padding: 55% 0px;
    color: rgb(230, 236, 255);
    background-color: #0d11161f;
    width: 100%;
    font-size: 80px;
    transition: 1s all ease-in-out;
}
.tarjetas:hover img{
    transition: 1s all;
}
@media (max-width:1500px) {
    .tarjetas{
        margin:20px 10px;
    }
    .container-atractivos h1{
    margin-bottom: 20px;}
}
