.container-atractivos {
    justify-content: center;
    text-align: center;
    background-color: rgb(246, 246, 246);
    padding-top: 0;
}

.container-fondo{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tarjetas{
    background-image: url("https://www.peru.travel/Contenido/Atractivo/Imagen/pe/92/1.1/Principal/Canteras de sillar de Anashuayco.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 340px;
    margin: 2% 2%;
    overflow: hidden;
    border-radius: 10px;
}
.tarjetas h2 {
    text-align: center;
    margin: 0;
    padding: 20px 0px;
    justify-content: center;
    color: rgb(242, 248, 255);
    background-color: #111722d2;
    overflow: hidden;
}

.tarjetas:hover{
    box-shadow: 0px 5px 10px 0px rgb(88, 88, 88);
    transform: scale(1.05);
    transition: 1s all ease-in;
}
.tarjetas:hover h2{
    padding: 55% 0px;
    color: rgb(230, 236, 255);
    background-color: #0d11167e;
    width: 100%;
    font-size: 80px;
    transition: 1s all ease-in-out;
}
@media (max-width:1500px) {
    .tarjetas{
        margin:20px 10px;
    }
    .container-atractivos h1{
    margin-bottom: 20px;}
}
