.container-principal {
  margin: 0;
  background-color: rgb(236, 236, 236);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 2000px;
  padding-inline: 0;
}
.container-subprincipal{
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  width: 90%;
  text-align: center;
  justify-content: center;
}
.container-recomendacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1%;
  text-align: center;
  justify-content: center;
}
.container-recomendacion-contenido {
  color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
}
.descripcion {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}
.ciudad {
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
}
.container-recomendacion-imagen {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;margin: 1%;
}
.container-recomendacion-imagen img {
  width: 450px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.container-recomendacion-imagen img:hover {
transform: scale(1.1);
transition: all 1s ease-in-out;
}


.container-recomendacion-boton {
  text-align: center;
  bottom: 250px;

}
.container-contenido-boton {
  text-align: center;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 475px;
  width: 450px;
}
.container-recomendacion-boton button {
  text-align: center;
  color: white;
  background-color: rgb(255, 199, 56);
  width: 300px;
  height: 80px;
  border: none;
  font-size: 40px;
}
@media only screen and (max-width:400px) {
  .container-recomendacion-imagen img{
    width: 100%;
    height: auto;
  }
  .container-contenido-boton {
    margin-top: 75%;
    width: 88%;
  }
  .container-recomendacion-boton button{
    width: 95%;
    height: 75px;
  }
}