.contenedor-compra{
    display: flex;
    flex-direction:row; 
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.contenedor-mapa{
    width: 600px;
    height: 400px;
}

.contenedor-destino{
    display: flex;
    flex-direction: column;
    width:400px;
    height: 400px;
    padding-left: 20px;
}

.contenedor-destino-det{
    text-align:left;
    padding-bottom:10px;
}
.contenedor-destino-det-titulo{
    color: rgb(204, 41, 38);
}

.contenedor-destino-form{
    text-align:left;
    padding-top: 10px;
}

.fromCompra{
    text-align:left;
}

.contenedor-bottom{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.botom-compra{
    border:0px;
    background-color:  rgb(204, 41, 38);
    color: rgb(243, 236, 236);
    width: 200px;
    height:50px;   
}

.contendor-img-mp{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.imgMP{
    width: 80px;
    height:40px;   
}

/***************/
a {
    color:rgb(204, 41, 38); }
  
.wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto; }

    .fromCompra {
        /* --------------------------------------- */
        /* ----- Radio Button */
        /* --------------------------------------- */
        /* --------------------------------------- */
        /* ----- Checkbox */
        /* --------------------------------------- */ }
        .fromCompra h2 {
          font-size: 16px;
          color: #001F3F;
          margin-bottom: 20px;
          margin-left: 20px; }
        .fromCompra > div {
          padding: 20px 0;
          border-bottom: 1px solid #ccc; }
        .fromCompra .radio label,
        .fromCompra .checkbox label {
          display: inline-block;
          cursor: pointer;
          color: rgb(204, 41, 38);
          position: relative;
          padding: 5px 15px 5px 51px;
          font-size: 1em;
          border-radius: 5px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .fromCompra .radio label:hover,
          .fromCompra .checkbox label:hover {
            background: rgba(255, 65, 54, 0.1); }
          .fromCompra .radio label:before,
          .fromCompra .checkbox label:before {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            position: absolute;
            left: 15px;
            border-radius: 50%;
            background: none;
            border: 3px solid rgb(204, 41, 38); }
        .fromCompra input[type="radio"] {
          display: none; }
          .fromCompra input[type="radio"]:checked + label:before {
            display: none; }
          .fromCompra input[type="radio"]:checked + label {
            padding: 5px 15px;
            background:rgb(204, 41, 38);
            border-radius: 2px;
            color: #fff; }
        .fromCompra .checkbox label:before {
          border-radius: 3px; }
        .fromCompra .checkbox input[type="checkbox"] {
          display: none; }
          .fromCompra .checkbox input[type="checkbox"]:checked + label:before {
            display: none; }
          .fromCompra .checkbox input[type="checkbox"]:checked + label {
            background: rgb(204, 41, 38);
            color: #fff;
            padding: 5px 15px; }
      
