.contenedor-compra{
    display: flex;
    flex-direction:column; 
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.contenedor-compra-det{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contenedor-mapa{
    width: 800px;
    height: 400px;
}

.contenedor-destino{
    display: flex;
    flex-direction: column;
    width:250px;
    height: 400px;
    padding-left: 10px;
}

.contenedor-destino-det{
    text-align:left;
    padding-bottom:10px;
}
.contenedor-destino-det-titulo{
    color: rgb(204, 41, 38);
    margin: 0px;
    text-align: center;
}

.contenedor-destino-form{
    text-align:left;
}

.fromCompra{
    text-align:left;
}

.contenedor-destino-form-div{
  display: flex;
  flex-direction: column;
}

.contenedor-destino-form-div-text{
  padding-top: 10px;
  text-align: left;
}

.txtcompra{
  height: 20px;
  width: 100px;
  border:none;
  border-bottom:rgb(204, 41, 38) solid;
  outline: none;
  font-size: 20px;
  float: right;
}

.contenedor-bottom{
    border: 0px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.botom-compra{
    border:0px;
    background-color:  rgb(204, 41, 38);
    color: rgb(243, 236, 236);
    width: 200px;
    height:50px;
    font-size: 30px;   
}

.contendor-img-mp{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.imgMP{
    width: 80px;
    height:40px;   
}
/****************/
.Contendor-tab{
  display: flex;
  flex-direction:column; 
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.contenedor_asientos{
  display: flex;
  flex-direction:column; 
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}


/***************/
.fromCompra a {
  color:rgb(204, 41, 38); 
}

.fromCompra > div {
  padding: 0px 0;
}

.fromCompra .radio label {
  display: inline-block;
  cursor: pointer;
  color: rgb(204, 41, 38);
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}

.fromCompra .radio label:hover {
  background: rgba(255, 65, 54, 0.1); 
}

.fromCompra .radio label:before{
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 3px solid rgb(204, 41, 38);
 }

.fromCompra input[type="radio"] {
          display: none; 
}

.fromCompra input[type="radio"]:checked + label:before {
            display: none;
}

.fromCompra input[type="radio"]:checked + label {
  padding: 5px 15px;
  background:rgb(204, 41, 38);
  border-radius: 2px;
  color: #fff; 
}
