.container-promociones-contenido {
    text-align: center;
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;
}
.container-promociones-contenido a {
text-decoration: none;
color: black;
}
.container-promociones-titulo {
    text-align: center;
    color:rgba(0, 0, 0, 0.75)
}
.container-promociones-contenido p {
    padding-inline: 50px;
    text-align: justify;
    }
.container-promociones-contenido img {
width: 100%;
height: 50%;
}

.container-promocion1 {
    background: rgba(251, 251, 251, 1);
    border: 1px solid rgba(201, 201, 201, 1);
    margin: 10px;
    margin-bottom: 30px;
    width: 500px;
    height: 50%;
    display: block;
}
.container-promocion2 {
    background: rgba(251, 251, 251, 1);
    border: 1px solid rgba(201, 201, 201, 1);
    margin: 10px;
    margin-bottom: 30px;
    width: 500px;
    height: 50%;
    display: block;
}
.container-promocion3 {
    background: rgba(251, 251, 251, 1);
    border: 1px solid rgba(201, 201, 201, 1);
    margin: 10px;
    margin-bottom: 30px;
    width: 500px;
    height: 50%;
    display: block;
}